h1{
    display: flex;
    background-color: rgb(192, 14, 14);
    justify-content: center;
}
body{
  background-color: rgb(183, 183, 183);
}
p{

    background-color: white;
    font-size: 50px;
    text-align:center;
}
div{
    justify-content:center;
    display:flex;
}
p:hover{
    color: rgb(8, 0, 255);
}
img{
    width:250px;
    height:250px;
}
h1:hover{
    color: rgb(8, 0, 255);
}
